<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Recipe App</title>
    <link rel="stylesheet" href="static/libs/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/home.css">

    <script src="static/libs/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="static/libs/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/libs/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/js/home.js"></script>

</head>
{% endblock %}
<body>
{% block content %}
{% endblock %}
</body>
</html>