{% extends "base.html" %}
{% block title %}Recipe App{% endblock%}
{% block head %}{{ super() }}


{% endblock %}
{% block content %}


<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="d-flex order-0">
        <a class="navbar-brand" href="/">Recipe App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/add">Add</a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="/edit">Edit</a>-->
            <!--</li>-->
        </ul>
    </div>
</nav>

<div class="container">
  <div id="accordion">
      {% for recipe in all_recipes %}
        <div class="card">
          <div class="card-header" id="{{recipe.recipe_name}}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#{{recipe.recipe_name}}-collapse" aria-expanded="true" aria-controls="{{recipe.recipe_name}}-collapse">
                {{recipe.recipe_name}}
              </button>
            </h5>
          </div>

          <div id="{{recipe.recipe_name}}-collapse" class="collapse" aria-labelledby="{{recipe.recipe_name}}" data-parent="#accordion">
            <div class="card-body">

          <div class="form-group">
             <button class="btn btn-danger float-right" id="delete_recipe" onclick="delete_recipe('{{recipe.recipe_name}}');">Delete</button>
            <!--<button class="btn btn-danger float-right" href="/edit">Edit</button>-->
            <a class="btn btn-danger float-right" href="/edit?recipe_name={{recipe.recipe_name}}" >Edit</a>
            <!--<a class="btn btn-danger float-right" href="{{ url_for('edit',recipe_name = recipe.recipe_name) }}" >Edit</a>-->
          </div>

          <div class="form-group">
            <label for="recipe_name">Recipe name</label>
            <input type="text" class="form-control" value="{{recipe.recipe_name}}" readonly>
          </div>

          <div class="form-group">
            <label for="recipe_name">Category</label>
            <input type="text" class="form-control" value="{{recipe.category}}" readonly>
          </div>

          <div class="form-group">
            <label for="recipe_name">Serving_size</label>
            <input type="text" class="form-control" value="{{recipe.serving_size}}" readonly>
          </div>

        <div class="form-group" >

              <label for="add_ingredient">Ingredients</label>
                <ul class="list-group">
                  {% for i in recipe.ingredients %}
                    <li class="list-group-item">{{i}}</li>
                  {% endfor %}
                </ul>

          </div>

        <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea class="form-control" rows="5">{{recipe.instructions}}</textarea>
        </div>


        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" rows="5">{{recipe.notes}}</textarea>
        </div>

          <div class="form-group">
            <label for="recipe_name">Created</label>
            <input type="text" class="form-control" value="{{recipe.created}}" readonly>
          </div>


          <div class="form-group">
            <label for="recipe_name">Modified</label>
            <input type="text" class="form-control" value="{{recipe.modified}}" readonly>
          </div>


        </div>
      </div>
      {% endfor %}
      </div>


    </div>
</div>

{% endblock %}
