{% extends "base.html" %}
{% block title %}Meridian Debug Tool{% endblock%}
{% block head %}{{ super() }}


{% endblock %}
{% block content %}


<div class="jumbotron d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-7">Recipe App</h1>
  </div>
</div>

<div class="container">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All Recipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add Recipe</a>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Burger
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Noodles
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <div id="recipe-add">

      <div class="form-group">
        <label for="recipe_name">Recipe name</label>
        <input type="text" class="form-control" id="recipe_name" placeholder="Recipe Name">
      </div>
      <div class="form-group">
          <label class="mr-sm-2" for="category">Category</label>
          <select class="custom-select mr-sm-2" id="category">
            <option value="veg">Veg</option>
            <option value="no-veg">Non Veg</option>
          </select>
      </div>
      <div class="form-group">
        <label for="serving_size">Serving Size</label>
        <input type="number" min="0" class="form-control" id="serving_size" placeholder="Serving Size">
      </div>

      <div class="form-group" id="ingredients">

          <div class="form-group">
            <label for="add_ingredient" class="sr-only">Add Ingredient</label>
            <input type="text" class="form-control-plaintext" id="add_ingredient" value="Add Ingredient">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="ingredient_name" placeholder="Ingredient Name">
          </div>
          <button type="submit" id="add_ingredient_submit" class="btn btn-primary mb-2">Add</button>

          <div id="ingredient_list_div" class="form-group">
              <ul id="ingredient_list" class="list-group"></ul>
          </div>

      </div>

      <div class="form-group">
          <label for="instructions">Instructions</label>
          <textarea class="form-control" rows="5" id="instructions"></textarea>
      </div>


      <div class="form-group">
          <label for="notes">Notes</label>
          <textarea class="form-control" rows="5" id="notes"></textarea>
      </div>

      <button type="submit" id="recipe_add_submit" class="btn btn-primary">Submit</button>

    </div>

  </div>

</div>





</div>



{% endblock %}
